<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anotherme17.anothernote.mapper.UserMapper">

    <resultMap id="userResultMap" type="UserEntity">
        <id property="id" column="ID"/>
        <result property="username" column="UserName"/>
        <result property="state" column="State"/>
        <result property="phone" column="Phone"/>
        <result property="email" column="Email"/>
    </resultMap>

    <resultMap id="userAllMap" type="UserEntity">
        <id property="id" column="ID"/>
        <result property="username" column="UserName"/>
        <result property="password" column="Password"/>
        <result property="phone" column="Phone"/>
        <result property="email" column="Email"/>
    </resultMap>

    <resultMap id="userStrokeMap" type="UserEntity">
        <id property="id" column="ID"/>
        <result property="username" column="UserName"/>
        <result property="email" column="Email"/>
        <collection property="strokes" ofType="StrokeEntity">
            <id property="id" column="ID"/>
            <result property="title" column="Title"/>
            <result property="content" column="Content"/>
            <result property="strokePlanID" column="StrokePlanID"/>
            <result property="forUserID" column="ForUserID"/>
            <result property="createTime" column="CreateTime"/>
            <result property="startTime" column="StartTime"/>
            <result property="endTime" column="EndTime"/>
            <result property="state" column="State"/>
        </collection>
    </resultMap>

    <!--插入用户  自动生成主键-->
    <insert id="insertUserAutoKey" parameterType="UserEntity">
        <selectKey keyProperty="id" resultType="java.lang.String" order="BEFORE">
            SELECT replace(uuid(),'-','') FROM dual
        </selectKey>
        INSERT INTO A_User (ID,Phone,UserName,Password,Email)
        VALUES (#{id},#{phone},#{username},#{password},#{email})
    </insert>

    <delete id="deleteUser" parameterType="java.lang.String">
        DELETE FROM A_User
        WHERE ID = #{id}
    </delete>

    <!--更新用户信息-->
    <update id="updateUser" parameterType="UserEntity">
        UPDATE A_User u
        <set>
            <if test="phone != null">
                u.Phone = #{phone}
            </if>
            <if test="username != null">
                u.UserName = #{username}
            </if>
            <if test="password != null">
                u.Password = #{password}
            </if>
            <if test="email != null">
                u.Email = #{email}
            </if>
        </set>
        WHERE u.ID = #{id}
    </update>

    <!--更新登录时间-->
    <update id="updateLastLoginTime">
        UPDATE A_User
        SET LastLoginTime = #{loginTime,jdbcType=TIMESTAMP}
        WHERE ID = #{id}
    </update>

    <select id="getUserByID" parameterType="java.lang.String" resultMap="userResultMap">
        SELECT u.ID,u.UserName,u.Email,u.Phone,u.State
        FROM A_User u
        WHERE u.ID = #{id}
    </select>

    <select id="getUserList" parameterType="java.lang.Integer" resultMap="userResultMap">
        SELECT u.ID,u.UserName,u.Email,u.Phone
        <include refid="getUsersWhere"/>
    </select>

    <select id="getUserCount" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT count(0)
        <include refid="getUsersWhere"/>
    </select>

    <!--验证用户-->
    <select id="authentication" resultMap="userAllMap">
        SELECT * FROM A_User
        WHERE UserName = #{username}
        AND Password = #{password}
    </select>

    <select id="getUserStrokeInDay" resultMap="userStrokeMap">
        SELECT u.ID,u.UserName,u.Email,
        s.ID,s.Title,s.Content,s.StrokePlanID,s.ForUserID,
        s.CreateTime,s.StartTime,s.EndTime,s.State
        FROM A_User u
        INNER JOIN A_Stroke s ON s.ForUserID = u.ID
        AND  <![CDATA[ s.StartTime >= #{left,jdbcType=TIMESTAMP} ]]>
        AND  <![CDATA[ s.StartTime < #{right,jdbcType=TIMESTAMP} ]]>
        WHERE u.EmailStroke = 1
        AND u.State = 1
    </select>

    <sql id="getUsersWhere">
        FROM A_User u
        WHERE 1=1
    </sql>

</mapper>